/* importing Roboto */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-LightItalic.ttf');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Black.ttf');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Roboto';
}

button {
    background-color: #3882f6;
    border-radius: 4px;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    font-weight: bold;
    flex: 0 0 auto;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.section {
    background-color: #1f2937;
    color: #f9faf8;
}

.hero {
    margin: 0 150px;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    font-size: 24px;
}

.navlinks {}

.header-content {
    display: flex;
    margin: 32px 0;
    gap: 20px;
    justify-content: space-between;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
    
}

.header {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subheading {}

.placeholder {
    background-color: #787978;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 250px;
    flex: 0 1 auto;
}
