/* importing Roboto */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-LightItalic.ttf');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Black.ttf');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Roboto';
}

button {
    background-color: #3882f6;
    border-radius: 4px;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    font-weight: bold;
    flex: 0 0 auto;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.section1 {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
}

.hero {
    /* margin: 0 150px; */
    width: 1000px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 12px;
}

.logo {
    font-size: 24px;
}

.navlinks {}

.header-content {
    display: flex;
    margin: 32px 0;
    gap: 20px;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subheading {}

.placeholder {
    background-color: #787978;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 250px;
    flex: 0 0 auto;
}

.section2 {
    display: flex;
    justify-content: center;
}

.information {
    margin: 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 32px 0;
}

.info-grid {
    display: flex;
    width: 1000px;
    flex-shrink: 1;
    justify-content: space-between;
    margin-bottom: 32px;
}

.info-item {
    width: 175px;
    display: flex;
    flex-direction: column;
}

.info-image {
    height: 175px;
    width: 175px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.info-text {
    text-align: center;
}

.section3 {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.quote-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
}

.attrib {
    font-weight: bold;
    align-self: flex-end;
}
